@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --signature-green: #008029;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-signature-green: var(--signature-green);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.signature-bg {
  background-color: #008029;
}

.signature-text {
  color: #008029;
}
